<mat-card>
  <mat-card-content>
    <h3>Register</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" #userNameInput required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" #passwordInput required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" 
            (click)="register(userNameInput.value, passwordInput.value)">
      Register
    </button>
    <div *ngIf="error">{{errorMessage}}</div>
  </mat-card-content>
</mat-card>