<mat-toolbar color="primary">
  <div class="title">{{title}}</div>
  <span class="left">
    <button mat-raised-button routerLink="/films">Films</button>
    <button mat-raised-button routerLink="/add">Add film or performance</button>
  </span>

  <span class="right">
     <!--
        <button mat-raised-button routerLink="/login">
            Login
        </button>
      -->
      <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login">
          Login
      </button>
      <button *ngIf="authService.isLoggedIn()" mat-button
              (click)="authService.logout()">
          Logout
      </button>

  </span>
</mat-toolbar>

<router-outlet></router-outlet>