<mat-toolbar color="primary">
  <div class="title">{{title}}</div>
  <span class="left">
    <button mat-raised-button routerLink="/films">Films</button>
    <button mat-raised-button routerLink="/performance">Performances</button>
    <button mat-raised-button routerLink="/booking">Booking</button>
    <button mat-raised-button routerLink="/add" *ngIf="authService.userHasRole(['ADMIN'])">Add</button>
    <button mat-raised-button routerLink="/delete" *ngIf="authService.userHasRole(['ADMIN'])">Delete</button>
  </span>

  <span class="right">
      <button mat-raised-button routerLink="/register">Register</button>
      <button *ngIf="!authService.isLoggedIn()" mat-raised-button routerLink="/login">
          Login
      </button>
      <button *ngIf="authService.isLoggedIn()" mat-raised-button
              (click)="authService.logout()">
          Logout
      </button>

  </span>
</mat-toolbar>

<router-outlet></router-outlet>