<mat-card class="add-film">
  <mat-card-title>
    Add film
  </mat-card-title>
  <div>
    <mat-form-field>
      <input matInput #filmTitle type="text" placeholder="Title">
    </mat-form-field>

    <mat-form-field>
      <input matInput #director type="text" placeholder="Director">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput #synopsis type="text" placeholder="Synopsis"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput #length type="number" placeholder="Length">
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="addFilm(filmTitle.value, director.value, synopsis.value, length.value)">Add film</button>
  </div>
</mat-card>

<mat-card class="add-Performance">
    <mat-card-title>
      Add performance
    </mat-card-title>
    <div>
      <mat-form-field>
        <mat-select placeholder="Film">
          <mat-option *ngFor="let film of films" value="film" >{{film.title}}</mat-option>
        </mat-select>
      </mat-form-field>
     
      <mat-form-field>
          <input #startingTime matInput type="datetime-local" name="startingTime">
        </mat-form-field>
      
      <mat-form-field>
        <mat-select placeholder="Room">
          <mat-option *ngFor="let room of rooms" value="room">{{room.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <input #length matInput placeholder="Length">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="addPerformance(film, startingTime.value, room, length.value)">Add performance</button>
    </div>
  </mat-card>

  <mat-card class="add-room">
      <mat-card-title>
        Add room
      </mat-card-title>
      <div>
        <mat-form-field>
          <input matInput #roomName type="text" placeholder="Name">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput #rowsNumber type="number" placeholder="Number of rows">
        </mat-form-field>
    
        <mat-form-field>
          <textarea matInput #columnsNumber type="number" placeholder="Number of columns"></textarea>
        </mat-form-field>
    
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="addRoom(roomName.value, rowsNumber.value, columnsNumber.value)">Add room</button>
      </div>
    </mat-card>