<mat-card>
  <mat-card-content>
    <h3>Login</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="Username" #userNameInput>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" #passwordInput>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" 
            (click)="tryLogin(userNameInput.value, passwordInput.value)">
      Login
    </button>
    <div *ngIf="error">{{error}}</div>
  </mat-card-content>
</mat-card>