.selected {
  background-color: rgb(62, 64, 65) !important;
  color: white;
}

.films {
  margin: 20px auto;
  width: 700px;
}
mat-card-title {
  color: #1A237E;
  text-decoration: none;
}