<mat-card class="performances">
  <mat-card-title>
    Performances
  </mat-card-title>
  <mat-card-content>
  <table>
    <tr><th>Film title</th><th>Strarting time</th><th>Room</th></tr>
      <mat-list role="performances">
        <mat-list-item *ngFor="let performance of performances" role="listitem">
          <tr><td>{{performance.filmId}}</td><td>{{performance.startingTime}}</td><td>{{performance.roomId}}</td></tr>
      </mat-list-item>
    </mat-list>
  </table>
  </mat-card-content>
</mat-card>
<app-film-details [film]="selectedFilm"></app-film-details>