<mat-card class="booking-form">
  <mat-card-title>
    Booking
  </mat-card-title>
  <div>
    <mat-form-field>
      <input matInput id="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput id="phone" placeholder="Telephone number">
    </mat-form-field>

    <mat-form-field>
        <input matInput id="email" type="email" placeholder="Email">
      </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Seat:">
        <span *ngFor="let seat of seats">
          <mat-option *ngIf="seat.status === 'EMPTY'" id="seat" value="seat">Row:{{seat.rowNumber}} Column:{{seat.columnNumber}}</mat-option>
        </span>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="sendBooking()">Send booking</button>
  </div>
</mat-card>
