<mat-card class="film-details" *ngIf="film">
  <mat-tab-group>
    <mat-tab label="Film data">
        <mat-list>
            <mat-list-item>
              <h4>Title:</h4>{{film.title}}
            </mat-list-item>
            <mat-list-item>
              <h4>Director:</h4>{{film.director}}
            </mat-list-item>
            <mat-list-item>
              <h4>Length:</h4> {{film.length}} min
            </mat-list-item>
            <mat-list-item>
              <h4>Entry date:</h4> {{film.entryDate | date:'yyyy-MM-dd'}}
            </mat-list-item>
            <mat-list-item>
              <h4>Synopsis:</h4> <br>{{film.synopsis}}
            </mat-list-item>
          </mat-list>
    </mat-tab>
    <mat-tab class="performanceTimes" label="Performance times">
      <span *ngFor="let performance of performances" >
        <span *ngIf="performance.filmId === film.id"><a routerLink="/performance/{{performance.id}}"><button mat-raised-button color="primary">{{performance.startingTime | date:'HH:mm'}}</button></a>&nbsp;&nbsp;</span>
      </span>
    </mat-tab>
  </mat-tab-group>
</mat-card>